@model Movie

<h3>Create Movie</h3>
<hr />

<form asp-controller="Movie" asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div class="mb-3">
            <label asp-for="MovieName" class="form-label">MovieName</label>
            <input asp-for="MovieName" class="form-control" />
            <span asp-validation-for="MovieName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="MovieStory" class="form-label">MovieStory</label>
            <textarea asp-for="MovieStory" class="form-control"></textarea>
            <span asp-validation-for="MovieStory" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Image" class="form-label">Image</label>
            <input asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label">Category Id</label>
            <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
                <option selected disabled>Seçiniz</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>