@model Movie

<form asp-controller="Movie" asp-action="Edit" method="post">
    <input type="hidden" asp-for="MovieId" />

    <div class="form-group">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Price</label>
            <input asp-for="Price" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label asp-for="Image" class="form-label">Image</label>
            <input asp-for="Image" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label">Category Id</label>
            <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
                <option selected disabled>Seçiniz</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>