
<div class="card mt-3">
    <div class="card-header">
        <h5>Search</h5>
    </div>
    <div class="card-body">
        <form asp-controller="Movie" asp-action="Search">
            <div class="form-group">
                <input name="searchString" class="form-control" type="search" placeholder="Find your movie" />
            </div>
            <button class="btn btn-outline-warning btn-sm btn-block" type="submit">Search</button>
        </form>
    </div>
</div>



