@model CategoryModel

<h3>Create Category</h3>
<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Admin" asp-action="CreateCategory" method="post">
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Url" class="form-label"></label>
                <input asp-for="Url" class="form-control" />
            </div>
            <div class="">
                <button type="submit" class="btn btn-success">Save Category</button>
            </div>

        </form>
    </div>
    <div class="col-md-4"></div>
</div>
