@model MovieModel

<h3>Create Movie</h3>
<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Admin" asp-action="CreateMovie" method="post">
@*             <div asp-validation-summary="All" class="text-danger"></div> *@
            <div class="mb-3">
                <label asp-for="MovieName" class="form-label"></label>
                <input asp-for="MovieName" class="form-control" />
@*                 <span asp-validation-for="MovieName" class="text-danger"></span> *@
            </div>
            <div class="mb-3">
                <label asp-for="Url" class="form-label"></label>
                <input asp-for="Url" class="form-control" />
@*                 <span asp-validation-for="Url" class="text-danger"></span> *@
            </div>
            <div class="mb-3">
                <label asp-for="MovieStory" class="form-label"></label>
                <textarea asp-for="MovieStory" class="form-control"></textarea>
@*                 <span asp-validation-for="MovieStory" class="text-danger"></span> *@
            </div>
            <div class="mb-3">
                <label asp-for="Genre" class="form-label"></label>
                <input asp-for="Genre" class="form-control" />
@*                 <span asp-validation-for="Genre" class="text-danger"></span> *@
            </div>
            <div class="mb-3">
                <label asp-for="Director" class="form-label"></label>
                <input asp-for="Director" class="form-control" />
@*                 <span asp-validation-for="Director" class="text-danger"></span> *@
            </div>
            <div class="mb-3">
                <label asp-for="Image" class="form-label"></label>
                <input asp-for="Image" class="form-control" />
@*                 <span asp-validation-for="Image" class="text-danger"></span> *@
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
@*                 <span asp-validation-for="Price" class="text-danger"></span> *@
            </div>
            <div class="">
                <button type="submit" class="btn btn-success">Add Movie</button>
            </div>

        </form>
    </div>
    <div class="col-md-4"></div>
</div>
